.form{
    background-color: white;
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
}
#fname, #lname, #email, #phone, #company, #title, #desc, #startDate, #endDate{
    border: 1px solid gray;
    max-height: 100%;
    margin: 1%;
}
.experience>p{
    max-height: 100%;
    margin: 1%;
}
.general, .experience{
    display: flex;
    flex-direction: column;
}
input{
    max-width: 50%;
    border-radius: 50px;
    font-size: 100%;
    padding: 0.5%;
    text-align: justify;
     /* font-size: clamp(0.5rem, 1vw, 1rem); */
}
input[type='date']{
    min-height: 5%;
}
#desc{
    font-size: 100%;
    min-height: 30%;
    padding: 0.5%;
    text-align: justify;
}
.formSub{
    max-width: 50%;
    min-height: 10%;
    padding: 0.5%;
    margin: 1%;
}
input:focus{
    border: 1px solid #ccc;
}
#expsub{
    font-size: large;
    font-weight: bold;
    color: white;
    margin: 2%;
    background-color: steelblue;
    max-width: 60%;
    max-height: 20%;
    padding: 1%;
    align-self: center;
    text-align: center;
}
fieldset{
    display: flex;
    max-height: 100%;
    margin: 1%;
    max-width: 50%;
    gap: 2%
}
.delIcon{
    background-color: antiquewhite;
    width: 30px;
    cursor: pointer;
    
}
.delIcon:hover{
    background-color: black;
}